<div class="cableslopes">
    <span class="slopes">
        <img class="slopes_img" src="/images/slopes.svg" alt="Cableway" />
        <em class="noslopes"><%= apiData.skiStats.slopes.open +" z "+apiData.skiStats.slopes.total %></em>
    </span>
    <span class="cableways">
        <img class="cableways_img" src="/images/cableway.svg" alt="LivesCableway" />
        <em class="nocableways"><%= apiData.skiStats.lifts.open +" z "+apiData.skiStats.lifts.total %></em>
    </span>
</div>