<!--
<div class="forecast">
    <span class="forecast_title">NASLEDUJÚCE DNI</span>
    <img class="forecast_icon1" src="/images/vlocka.svg" alt="WeatherForecastIcon" />
    <span class="forecast_first">Sneženie</span>
    <span class="forecast_day1">Štvrtok</span>
    <img class="forecast_icon2" src="/images/vlocka.svg" alt="WeatherForecastIcon" />
    <span class="forecast_second">Sneženie</span>
    <span class="forecast_day2">Piatok</span>
</div>
-->