<!--
<div class="occupancy">
    <span>
    <img class="occupancy_icon" src="/images/users.svg" alt="LivesCableway" />
    <span class="occupancy_text">AKTUÁLNA VYŤAŽENOSŤ 67%</span>
    </span>
    <div class="occupancy_graph_bottom "><div class="occupancy_graph_upper first"></div></div>
    </span>
    <style>.first{width:50%}</style>
    <span>
    <img class="occupancy_icon" src="/images/users.svg" alt="LivesCableway" />
    <span class="occupancy_text">PREDPOKLAD NA ZAJTRA 85%</span>
    </span>
    <div class="occupancy_graph_bottom"><div class="occupancy_graph_upper second"></div></div>
    <style>.second{width:80%}</style>
</div>
-->